//@theme "/home/zayd/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/home/zayd/.local/share/rofi/themes/spotlight.rasi"
//@theme "/home/zayd/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/home/zayd/.local/share/rofi/themes/squared-nord.rasi"
@theme "/home/zayd/.local/share/rofi/themes/rounded-purple-dark.rasi"
